opencv-python~=4.3.0.36
ConfigArgParse~=1.5.3
torchsummary
wandb~=0.12.7
matplotlib~=3.3.0
tensorboardX
monai~=0.7.0
nibabel~=3.1.1
scikit-image~=0.17.2
gdown
lmdb
pandas~=1.3.5
einops
torch~=1.10.0
numpy~=1.19.1
torchvision~=0.11.1
Pillow~=7.2.0
dominate~=2.5.1
requests~=2.24.0
bs4~=0.0.1
beautifulsoup4~=4.9.3
packaging~=20.4
PyYAML~=6.0
setuptools~=49.2.0.post20200714
scipy~=1.5.1
torchmetrics~=0.11.4
timm~=0.9.7
SimpleITK~=1.2.4
kornia~=0.6.12
torchio~=0.18.18
tqdm~=4.62.3